*{
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}

#lateral{
    background-attachment: fixed;
    background-image: url(../img/joystick.jpg);
    background-size: auto;
}
#black{
    background-color: black;
   
}