body{
  background: url(../img/bg.jpg) fixed center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  padding-top: 120px;
}
.login-caja input[type="text"],
.login-caja input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  height: 40px;
  font-size: 16px;
}
.login-caja a:hover{
  color: #fff;
}
#black{
  background-color:black;
  height: 60px;
}
