
.barra-busqueda{background-color: black; border-top: solid 4px; border-bottom: solid 4px;}
.enlace-nav:hover{background-color: red; color: white; text-decoration: none; transition: 0.7s; transform: scale(1.5); opacity: .8; text-transform: uppercase;}
.portada{width: 100vw; height: 40vh;}

nav > div{
    font-size: 1.2em;
}
section{background-image: url(../img/bg-80.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;}
.card-deck{
    margin-right: 0px;
}
.footer{background-color: black; border-top: solid 4px; border-bottom: solid 4px;}
.img-hov:hover{transition: 0.7s; transform: scale(1.2);}
